<mat-card>
  <b>
    <span>অর্ডারসমূহ ম্যানেজ করুন</span>
    <button
      mat-flat-button
      color="primary"
      class="float-right"
      [disabled]="validateSubmit()"
      (click)="submitAction()"
    >
    সাবমিট করুন এবং বিল ডাউনলোড করুন
    </button>
  </b>
</mat-card>

<hr />
<mat-card>
  <b><span>ছাত্রীদের বিস্তারিত:</span></b>

  <form [formGroup]="manageOrderForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>নাম(Name)</mat-label>
          <input type="text" matInput formControlName="name" required />
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
              >
              এই ক্ষেত্রটি বাধ্যতামূলক</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
              >এই ক্ষেত্রটি সঠিক নয়</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>ইমেইল(Email)</mat-label>
          <input type="text" matInput formControlName="email" required />
          <mat-error
            *ngIf="
              manageOrderForm.controls.email.touched &&
              manageOrderForm.controls.email.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.email.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >

            <span *ngIf="manageOrderForm.controls.email.errors.pattern"
              >এই ক্ষেত্রটি সঠিক নয়</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>যোগাযোগের নম্বর</mat-label>
          <input
            type="text"
            matInput
            formControlName="contactNumber"
            required
          />
          <mat-error
            *ngIf="
              manageOrderForm.controls.contactNumber.touched &&
              manageOrderForm.controls.contactNumber.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.contactNumber.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >

            <span *ngIf="manageOrderForm.controls.contactNumber.errors.pattern"
              >এই ক্ষেত্রটি সঠিক নয়</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>মূল্যপরিশোধ পদ্ধতি</mat-label>
          <mat-select matInput formControlName="paymentMethod" required>
            <mat-option value="Cash">ক্যাশ</mat-option>
            <mat-option value="Card">কার্ড</mat-option>
            <mat-option value="Mpesa">বিকাশ</mat-option>
            <mat-option value="Mpesa">উপায়</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.paymentMethod.touched &&
              manageOrderForm.controls.paymentMethod.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.paymentMethod.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
<hr />

<mat-card>
  <b><span>খাবার বিভাগ নির্বাচন করুন:</span></b>
  <form [formGroup]="manageOrderForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="'row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>তালিকা</mat-label>
          <mat-select
            formControlName="category"
            (selectionChange)="getProductsByCategory($event.value)"
            required
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category"
              >{{ category.name }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
              >এই ক্ষেত্রটি সঠিক নয়</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>খাবারটি পছন্দ করুন</mat-label>
          <mat-select
            formControlName="product"
            (selectionChange)="getProductDetails($event.value)"
            required
          >
            <mat-option *ngFor="let product of products" [value]="product">{{
              product.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
              >এই ক্ষেত্রটি সঠিক নয়</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>মূল্য(Price)</mat-label>
          <input
            type="text"
            matInput
            formControlName="price"
            required
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>পরিমাণ(Quantity)</mat-label>
          <input
            type="number"
            matInput
            formControlName="quantity"
            (keyup)="setQuantity($event)"
            #input
          />
          <mat-error
            *ngIf="
              manageOrderForm.controls.quantity.touched &&
              manageOrderForm.controls.quantity.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.quantity.errors.required"
              >এই ক্ষেত্রটি বাধ্যতামূলক</span
            >
          </mat-error>
        </mat-form-field>
:
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>মোট </mat-label>
          <input
            type="text"
            matInput
            formControlName="total"
            required
            readonly
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div>
    <button
      mat-flat-button
      color="primary"
      matTooltip="Add Order"
      (click)="add()"
    >
      যোগ করুন
    </button>

    <button mat-flat-button color="primary" class="float-right">
      সর্বমোট পরিমাণ: {{ totalAmount }}
    </button>
  </div>
</mat-card>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>নাম</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>খাবার বিভাগ</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>মূল্য</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>পরিমাণ:</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>মোট: </th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>ডিলিট করুন</th>
      <td mat-cell *matCellDef="let element; let i = index" class="action-link">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Delete"
          (click)="handleDeletAction(i, element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- hjol -->