<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">পাসওয়ার্ড ভুলে গেছেন?</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>
          ইমেইল</mat-label>
        <input type="email" matInput formControlName="email" required />
        <mat-error
          *ngIf="
            forgotPasswordForm.controls.email.touched &&
            forgotPasswordForm.controls.email.invalid
          "
        >
          <span *ngIf="forgotPasswordForm.controls.email.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="forgotPasswordForm.controls.email.erros.pattern"
            >
            এই ক্ষেত্রটি সঠিক নয়</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
  >
  পাসওয়ার্ড পাঠান
  </button>

  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
