<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">নিবন্ধন করুন</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="signupForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>নামের প্রথম অংশ</mat-label>
        <input type="text" matInput formControlName="firstName" required />
        <mat-error
          *ngIf="
            signupForm.controls.firstName.touched && signupForm.controls.firstName.invalid
          "
        >
          <span *ngIf="signupForm.controls.firstName.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="signupForm.controls.firstName.errors.pattern"
            >এই ক্ষেত্রটি সঠিক নয়</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>নামের শেষ অংশ</mat-label>
        <input type="text" matInput formControlName="lastName" required />
        <mat-error
          *ngIf="
            signupForm.controls.lastName.touched && signupForm.controls.lastName.invalid
          "
        >
          <span *ngIf="signupForm.controls.lastName.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="signupForm.controls.lastName.errors.pattern"
            >এই ক্ষেত্রটি সঠিক নয়</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>রেজিস্ট্রেশন নংঃ </mat-label>
        <input type="text" matInput formControlName="registrationNo" required />
        <mat-error
          *ngIf="
            signupForm.controls.registrationNo.touched && signupForm.controls.registrationNo.invalid
          "
        >
          <span *ngIf="signupForm.controls.registrationNo.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="signupForm.controls.registrationNo.errors.pattern"
            >এই ক্ষেত্রটি সঠিক নয়</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>ইমেইল</mat-label>
        <input type="email" matInput formControlName="email" required />
        <mat-error
          *ngIf="
            signupForm.controls.email.touched &&
            signupForm.controls.email.invalid
          "
        >
          <span *ngIf="signupForm.controls.email.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="signupForm.controls.email.errors.pattern"
            >এই ক্ষেত্রটি সঠিক নয়</span
          >
        </mat-error>
      </mat-form-field>

       <mat-form-field appearance="fill" fxFlex> 
        <mat-label>ফোন নম্বর</mat-label>
        <input type="text" matInput formControlName="contactNumber" required />
        <mat-error
          *ngIf="
          "
        >
          <span *ngIf="signupForm.controls.contactNumber.errors.required"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
          <span *ngIf="signupForm.controls.contactNumber.errors.pattern"
            >This field is invalid</span
          >
        </mat-error>
      </mat-form-field> 

      <!-- <mat-form-field appearance="fill" fxFlex>
        <mat-label>Phone Number</mat-label>
        <input type="text" matInput formControlName="contactNumber" />
      </mat-form-field> -->
     
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>শিক্ষা-বিভাগ</mat-label>
        <mat-select formControlName="department" required>
          <mat-option *ngFor="let department of departmentOptions" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            signupForm.controls.department.touched &&
            signupForm.controls.department.invalid
          "
        >
          <span *ngIf="signupForm.controls.department.errors.required">এই ক্ষেত্রটি বাধ্যতামূলক</span>
        </mat-error>
      </mat-form-field>
      

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>পাসওয়ার্ড</mat-label>
        <input type="password" matInput formControlName="password" required />
        <mat-error
          *ngIf="
            signupForm.controls.password.touched && signupForm.controls.password
          "
        >
          <span *ngIf="signupForm.controls.password.errors"
            >এই ক্ষেত্রটি বাধ্যতামূলক</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(signupForm.valid && signupForm.dirty)"
  >
  নিবন্ধন করুন
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>বন্ধ করুন</button>
</mat-dialog-actions>
