/* Add a beautiful background image */
.signup-container {
  background-image: url('../../assets/img/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form */
mat-form-field {
  width: 100%;
  margin: 10px 0;
}

/* Add hover effects to the Signup button */
button[type="submit"]:hover {
  background-color: #007BFF; /* Change to your preferred hover color */
  color: #fff; /* Change to your preferred text color */
}

/* Add a fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mat-dialog-content {
  animation: fadeIn 0.5s;
}
