// * {
//   box-sizing: border-box;
// }

// /* Container for flexboxes */
// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

// /* Create four equal columns */
// .column {
//   flex: 55%;
//   padding: 20px;
// }

// /* On screens that are 1440px wide or less, go from four columns to two columns */
// // @media (max-width: 1440px) {
// //   .column {
// //     flex: 50%;
// //   }
// // }

// body {
//   font-family: "Georgia", serif;
//   background-color: #1b1b1b;
//   color: #fff;
// }

// .wrapper {
//   height: 65px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: #db6d0c;
// }

// nav {
//   display: flex;
//   width: 90%;
//   padding: 10px;
//   background-color: #6e9aed;
// }

// ul li a {
//   margin-left: 1.5em;
// }

// a.logo {
//   margin-right: auto;
// }

// ul {
//   display: flex;
//   list-style: none;
//   margin: 0px;
//   padding: 0px;
//   justify-content: center;
// }

// a {
//   text-decoration: none;
//   color: #ffffff;
//   position: relative;
//   font-size: 1.25em;
// }

// a::after {
//   content: "";
//   top: 80%;
//   border-bottom: 2px solid #F8E71C;
//   transition: all 0.35s;
//   position: absolute;
// }

// a:hover::after {
//   transition: all 0.35s;
// }

// a::after {
//   right: 50%;
//   left: 50%;
// }

// a:hover::after {
//   right: 0;
//   left: 0;
// }

// @media (max-width: 850px) {
//   .wrapper {
//     height: auto;
//   }

//   a.logo {
//     margin-top: 1.5em;
//     margin-bottom: 1.5em;
//     margin-right: 0px;
//   }

//   ul {
//     width: 100%;
//     margin-bottom: 1em;
//     justify-content: space-between;
//   }

//   ul li a {
//     margin-left: 0px;
//   }
// }

// @media (max-width: 768px) {
//   a.logo {
//     margin: 1.5em;
//   }

//   ul {
//     flex-direction: column;
//   }

//   ul li {
//     margin: 0.3em;
//     text-align: center;
//   }

//   ul li a {
//     margin-left: 0px;
//   }
// }

// .sticky {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100% !important;
// }

// .mat-icon {
//   vertical-align: middle;
// }
// .bg-image {
//   height: 100vh;

//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
//   animation: imageSlideshow 20s infinite;
// }

// /* Position text in the middle of the page/image */
// .bg-text {
//   background-color: rgb(0, 0, 0); /* Fallback color */
//   background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
//   color: white;
//   font-weight: bold;
//   border: 3px solid #f1f1f1;
//   position: absolute;
//   top: 60%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 55%;
//   padding: 20px;
//   text-align: center;
// }

// /* Keyframe animation for background image slideshow */
// @keyframes imageSlideshow {
//   0% {
//     background-image: url("../../assets/img/1.jpeg"); /* Change the paths as needed */
//   }
//   25% {
//     background-image: url("../../assets/img/2.jpeg");
//   }
//   50% {
//     background-image: url("../../assets/img/3.jpeg");
//   }
//   75% {
//     background-image: url("../../assets/img/4.jpeg");
//   }
//   100% {
//     background-image: url("../../assets/img/2.jpeg"); /* Loop back to the first image */
//   }
// }

// /* Logo style */
// a.logo {
//   display: flex;
//   align-items: center;
//   color: white;
//   text-decoration: none;
//   font-size: 1.25em;
// }

// .mat-icon {
//   font-size: 1.5em;
//   margin-right: 10px;
// }

// /* Add a smooth transition to the logo's color */
// a.logo:hover {
//   color: #ccc;
// }

// /* Apply a background color animation to the navbar */
// .sticky {
//   background-color: #6e9aed; /* Change the background color when sticky */
//   transition: background-color 0.3s ease;
// }

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 1440px wide or less, go from four columns to two columns */
// @media (max-width: 1440px) {
//   .column {
//     flex: 50%;
//   }
// }

body {
  background-color: #384047;
}

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db6d0c;
}

nav {
  display: flex;
  width: 90%;
}

ul li a {
  margin-left: 1.5em;
}

a.logo {
  margin-right: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 1.25em;
}

a::after {
  content: "";
  top: 100%;
  border-bottom: 2px solid #fff;
  transition: all 0.35s;
  position: absolute;
}

a:hover::after {
  transition: all 0.35s;
}

a::after {
  right: 50%;
  left: 50%;
}

a:hover::after {
  right: 0;
  left: 0;
}

@media (max-width: 850px) {
  .wrapper {
    height: auto;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  a.logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0px;
  }

  ul {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }

  ul li a {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin: 0.3em;
    text-align: center;
  }

  ul li a {
    margin-left: 0px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
}

.mat-icon {
  vertical-align: middle;
}
.bg-image {
  // background-image: url("../../assets/img/5.jpg");
  // background-color: rgb(0, 0, 0);
  opacity: 0.9;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: imageSlideshow 20s infinite;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
  font-size: 50px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 50px;
  text-align: center;
  line-height: 1.5;
}

/* Keyframe animation for background image slideshow */
@keyframes imageSlideshow {
  0% {
    background-image: url("../../assets/img/1.jpeg"); /* Change the paths as needed */
  }
  25% {
    background-image: url("../../assets/img/2.jpeg");
  }
  50% {
    background-image: url("../../assets/img/3.jpeg");
  }
  75% {
    background-image: url("../../assets/img/5.jpg");
  }
  100% {
    background-image: url("../../assets/img/1.jpeg"); /* Loop back to the first image */
  }
}

/* Logo style */
a.logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

.mat-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

/* Add a smooth transition to the logo's color */
a.logo:hover {
  color: #ccc;
}

/* Apply a background color animation to the navbar */
.sticky {
  background-color: #912c6a; /* Change the background color when sticky */
  transition: background-color 0.3s ease;
}
