<div class="bg-image"></div>
<app-best-seller></app-best-seller>
<!-- <div class="bg-text">জাহানারা ইমাম হল ডাইনিংয়ে আপনাকে স্বাগতম</div> -->

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> প্রথম ছাত্রী হলে আপনি আমন্ত্রিত
    </a>
    <ul>
      <li>
        <a (click)="loginAction()">লগইন</a>
      </li>

      <li>
        <a (click)="signupAction()">নিবন্ধন করুন</a>
      </li>

      <li>
        <a (click)="forgotPasswordAction()">পাসওয়ার্ড ভুলে গেছেন?</a>
      </li>
    </ul>
  </nav>
</div>
