<section class="page-section" id="about">
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="about-col-1">
          <img src="../../assets/img/6.png" />
        </div>
        <div class="about-col-2">
          <h1 class="sub-title">আমাদের সম্বন্ধে জানুন</h1>
          <p>
            শাহজালাল বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়ের মেয়ে শিক্ষার্থীদের জন্য
            তৈরীকৃত প্রথম হল হলো জাহানারা ইমাম হল, যাতে প্রতি বছর অসংখ্য
            শিক্ষার্থী সিট পেয়ে আসে।
            <br />
            <br />
            এসব শিক্ষার্থীদের সুস্বাস্থ্য ও সঠিক পরিচর্যার জন্য প্রতিদিন প্রয়োজন
            নির্দিষ্ট পরিমান ক্যালরী ও শারীরিক চর্চার। তাদের খাদ্য চাহিদা পূরণের
            মাধ্যমে মেধা বিকাশের সুযোগ করে দেওয়ার জন্যই বিশ্ববিদ্যালয় কর্তৃপক্ষ
            প্রতিষ্ঠা করে জাহানারা ইমাম হল ডাইনিং। এখানে নিত্য খাবার-দাবারের
            ব্যবস্থা করা হয় সম্পূর্ণ ঘরোয়া পদ্বতিতে বাইরের ভেজাল খাবার ছাড়াই
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">আমাদের ডাইনের সময়সূচী</h2>
      </div>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/breakfast.jpeg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>সকালের নাস্তা</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              সকাল ০৭ঃ০০ ঘটিকা হতে দুপুর ১২ঃ০০ টা পর্যন্ত সকালের নাস্তা পাওয়া
              যাবে
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/lunch.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>দুপুরের খাবার</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              দুপুর ১২ঃ০০ ঘটিকা হতে বিকাল ০৫ঃ০০ টা পর্যন্ত দুপুরের খাবার পাওয়া
              যাবে
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/snackes.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>বিকালের নাস্তা</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              বিকাল ০৪ঃ০০ ঘটিকা হতে সন্ধ্যা ০৭ঃ০০ টা পর্যন্ত বিকালের নাস্তা
              পাওয়া যাবে
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/dinner.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>রাতের খাবার</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              সন্ধ্যা ০৭ঃ০০ ঘটিকা হতে রাত ১০ঃ৩০ মিনিট পর্যন্ত রাতের খাবার পাওয়া
              যাবে
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            এই সহযাত্রায়
            <br />
            সঙ্গী হ
            <br />
            Cafe!
          </h4>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Us</h1>
          <p><i class="fa-solid fa-inbox"></i>ridwan.siam@gmail.com</p>
          <p><i class="fa-solid fa-square-phone"></i>+8801626970209</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/ridwanurrashid.siam"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/ridwan_siam/?fbclid=IwAR3ERlbraM0JdgFpoyhs9ZsaxL6Mlao8Ps0NCHRghfE8OOh6-pQqPyH48ys"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/ridwanur-rashid-siam-888a13213/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href=""><i class="fa-brands fa-snapchat"></i></a>
          </div>
          <a href="images/my-cv.pdf" download class="btn btn2">Download CV</a>
        </div>
        <div class="contact-right">
          <form name="submit-to-google-sheet">
            <input type="text" name="Name" placeholder="Your Name" required />
            <input
              type="email"
              name="Email"
              placeholder="Your Email"
              required
            />
            <textarea name="Message" rows="6" placeholder="Your Message">
            </textarea>
            <button name="submit" class="btn btn2">Submit</button>
          </form>
          <span id="msg"></span>
        </div>
      </div>
    </div>
  </div> -->
</section>
