<section class="page-section" id="about">
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="about-col-1">
            <img src="../../assets/img/1.jpg" />
          </div>
          <div class="about-col-2">
            <h1 class="sub-title">About Me</h1>
            <p>
              Hi there, my name is Ridwanur Rashid Siam. I am currently a stutent,
              pursuing my undergrade at Shahjalal University of Science and
              technology. <br />
              <br />
              I am an ambitious person with so many high hopes and dreams.
              Although I am at a young stage of my life, I have had a lot of
              experiences in personal and professional life. Into the ups and
              downs of my life, I somehow managed to survive and acomplish many of
              my goals in life. I love to code and solve real life problem. As a
              person, I am ambivert, but with a great management skill. I love to
              pass my leisure time with reading books and listening to songs and
              poems.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">About Jahanara Imam Hall</h2>
        </div>
      </div>
      <ul class="timeline">
        <li>
          <a href="../../assets/img/1.jpg" target="_blank">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="../../assets/img/1.jpg"
                alt="..."
              />
            </div>
          </a>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Breakfast</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                From 07:00 am in the morning till 12:00 pm, students can get the
                delicious breakfast from our kitchen
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <a href="../../assets/img/2.jpg" target="_blank">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="../../assets/img/2.jpg"
                alt="..."
              />
            </div>
          </a>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Biryani</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Biryani is a mixed rice dish. It is made with Indian spices, rice,
                and meat usually that of chicken, fish, and sometimes, in
                addition, eggs or vegetables such as potatoes in certain regional
                varieties.
              </p>
            </div>
          </div>
        </li>
        <li>
          <a href="../../assets/img/3.jpg" target="_blank">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="../../assets/img/3.jpg"
                alt="..."
              />
            </div>
          </a>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Pasta</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Pasta is a type of food typically made from an unleavened dough of
                wheat flour mixed with water or eggs, and formed into sheets or
                other shapes, then cooked by boiling or baking.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <a href="../../assets/img/4.jpg" target="_blank">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="../../assets/img/4.jpg"
                alt="..."
              />
            </div>
          </a>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Molten chocolate cake</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Molten chocolate cake is a popular dessert that combines the
                elements of a chocolate cake and a soufflé. Its name derives from
                the dessert's liquid chocolate center, and it is also known as
                chocolate moelleux, chocolate lava cake, or simply lava cake.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
              Be Part
              <br />
              Of Our
              <br />
              Cafe!
            </h4>
          </div>
        </li>
      </ul>
    </div>
  
    <div id="contact">
      <div class="container">
        <div class="row">
          <div class="contact-left">
            <h1 class="sub-title">Contact Us</h1>
            <p><i class="fa-solid fa-inbox"></i>ridwan.siam@gmail.com</p>
            <p><i class="fa-solid fa-square-phone"></i>+8801626970209</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/ridwanurrashid.siam"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://www.instagram.com/ridwan_siam/?fbclid=IwAR3ERlbraM0JdgFpoyhs9ZsaxL6Mlao8Ps0NCHRghfE8OOh6-pQqPyH48ys"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/ridwanur-rashid-siam-888a13213/"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a href=""><i class="fa-brands fa-snapchat"></i></a>
            </div>
            <a href="images/my-cv.pdf" download class="btn btn2">Download CV</a>
          </div>
          <div class="contact-right">
            <form name="submit-to-google-sheet">
              <input type="text" name="Name" placeholder="Your Name" required />
              <input
                type="email"
                name="Email"
                placeholder="Your Email"
                required
              />
              <textarea name="Message" rows="6" placeholder="Your Message">
              </textarea>
              <button name="submit" class="btn btn2">Submit</button>
            </form>
            <span id="msg"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  