<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{ dialogData.action }} তালিকা সমূহ</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>নাম (Name)</mat-label>
          <input type="text" matInput formControlName="name" />
          <!-- Validation message for pattern error only -->
          <!-- <mat-error *ngIf=" ">
            এই ক্ষেত্রটি সঠিক নয় 
          </mat-error> -->
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>খাবার বিভাগ আইডি</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.controls.categoryId.touched && productForm.controls.categoryId.invalid">
            <span *ngIf="productForm.controls.categoryId.errors.required">এই ক্ষেত্রটি বাধ্যতামূলক</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>মূল্য(Price)</mat-label>
          <input type="number" matInput formControlName="price" required />
          <mat-error *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
            <span *ngIf="productForm.controls.price.errors.required">এই ক্ষেত্রটি বাধ্যতামূলক</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>খাবারের ছবি</mat-label>
          <input type="text" matInput formControlName="imageURL" required />
          <mat-error *ngIf="productForm.controls.imageURL.touched && productForm.controls.imageURL.invalid">
            <span *ngIf="productForm.controls.imageURL.errors.required">এই ক্ষেত্রটি বাধ্যতামূলক</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>বিবরণ</mat-label>
          <input type="text" matInput formControlName="description" required />
          <mat-error *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
            <span *ngIf="productForm.controls.description.errors.required">এই ক্ষেত্রটি বাধ্যতামূলক</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(productForm.valid && productForm.dirty)">
    {{ action }}
  </button>

  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
