<mat-dialog-content class="mat-typography">
  <form [formGroup]="categoryForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>নাম(Name)</mat-label>
          <input type="text" matInput formControlName="name" required />
          <mat-error
            *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid"
          >
            <span *ngIf="categoryForm.controls.name.errors.required">This field is mandatory</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>ছবি (Image)</mat-label>
          <input type="text" matInput formControlName="image" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>বর্ণনা (Description)</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(categoryForm.valid && categoryForm.dirty)"
  >
    {{ action }}
  </button>

  <button mat-raised-button color="primary" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
