<body>
  <mat-card>
  </mat-card>
  <br />
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">মোট খাবার ক্যাটাগরি সংখ্যা</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <button class="button" [routerLink]="isAdmin ? '/cafe/category' : '/cafe/categoryUser'">
              ক্যাটাগরি দেখুন
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">মোট খাবার তালিকা সংখ্যা</h2>
            <h1 class="title">{{ data?.product }}</h1>
            <p>
              <button class="button" [routerLink]="isAdmin ? '/cafe/product' : '/cafe/productUser'">
                তালিকা দেখুন
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">মোট খাবার বিল সংখ্যা</h2>
            <h1 class="title">{{ data?.bill }}</h1>
            <p>
              <button class="button" [routerLink]="isAdmin ? '/cafe/bill' : '/cafe/billUser'">
                বিলগুলো দেখুন
              </button>
            </p>
          </div>
        </div>
      </div>
  </div>
</body>
